/Guzman Ramirez Carlos Humberto/Ejercicios19102021/nbproject/private/
/Guzman Ramirez Carlos Humberto/Ejercicios19102021/build/
/Guzman Ramirez Carlos Humberto/Parcial20102021/nbproject/private/
/Guzman Ramirez Carlos Humberto/Parcial20102021/build/
